n8n/PROYECTO _).json
{
  "name": "PROYECTO :)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cotizacion",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4a5ff455-86d7-4bc2-82c9-09f62c115f68",
      "webhookId": "3af8fa63-6598-4a7e-bf9c-76b50b203fa6"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "=cotizaciones",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $json.body.nombre }}"
            },
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $json.body.empresa }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $json.body.telefono }}"
            },
            {
              "fieldId": "ciudad",
              "fieldValue": "={{ $json.body.ciudad }}"
            },
            {
              "fieldId": "tipo_cliente",
              "fieldValue": "={{ $json.body.tipo_cliente }}"
            },
            {
              "fieldId": "plataformas",
              "fieldValue": "={{ $json.body.plataformas }}"
            },
            {
              "fieldId": "cantidad",
              "fieldValue": "={{ $json.body.cantidad }}"
            },
            {
              "fieldId": "presupuesto",
              "fieldValue": "={{ $json.body.presupuesto }}"
            },
            {
              "fieldId": "mensaje",
              "fieldValue": "={{ $json.body.mensaje }}"
            },
            {
              "fieldId": "canal",
              "fieldValue": "={{ $json.body.canal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "6b3b6610-d2eb-444b-9b5f-7a789ba671bc",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "fklnKuEVXYV3eQvk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1epAyoBZsWCUKmgpKc9_rNrT4YvtfH0OcXYR7f4YYZPs",
          "mode": "list",
          "cachedResultName": "Cotizaciones NexGen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1epAyoBZsWCUKmgpKc9_rNrT4YvtfH0OcXYR7f4YYZPs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1epAyoBZsWCUKmgpKc9_rNrT4YvtfH0OcXYR7f4YYZPs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.body.nombre }}",
            "empresa": "={{ $json.body.empresa }}",
            "email": "={{ $json.body.email }}",
            "telefono": "={{ $json.body.telefono }}",
            "ciudad": "={{ $json.body.ciudad }}",
            "tipo_cliente": "={{ $json.body.tipo_cliente }}",
            "plataformas": "={{ $json.body.plataformas }}",
            "cantidad": "={{ $json.body.cantidad }}",
            "presupuesto": "={{ $json.body.presupuesto }}",
            "mensaje": "={{ $json.body.mensaje }}",
            "canal": "={{ $json.body.canal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plataformas",
              "displayName": "plataformas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "presupuesto",
              "displayName": "presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -160
      ],
      "id": "1e85589b-09c0-46d2-a5dd-0bf8d86fc835",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3yukCPoOxQxSGWsQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bfb09385-3bc3-4ab8-8bed-a5b67be6c846",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b487fb56c86c824a298f982308d388c58f8a96f523cfb3ae9de6cb7be78f5ac"
  },
  "id": "AwVnprDV7qjPWdXd",
  "tags": []
}